<div fxLayout="row" fxLayoutAlign="space-between center" class="btn">
  <h2>Переміщення</h2>
  <button mat-flat-button (click)="closeModal()">
    <mat-icon>highlight_off</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="movements">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Назва</th>
    <td mat-cell *matCellDef="let element">
      {{ getDetailName(element) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="provider">
    <th mat-header-cell *matHeaderCellDef>Постачальник</th>
    <td mat-cell *matCellDef="let element">{{ getProviderName(element) }}</td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef>
      Кількість
    </th>
    <td mat-cell *matCellDef="let element">
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="removeDetail(element)">
          <mat-icon>remove</mat-icon>
        </button>

        <span>{{ element.count }}</span>

        <button mat-icon-button (click)="addDetail(element)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div
  fxLayout="row"
  fxLayoutAlign="space-around center"
  style="margin-top: 10px;">

  <mat-form-field>
    <mat-label>Склад</mat-label>
    <mat-select [(value)]="selectedWarehouse" required>
      <mat-option *ngFor="let wh of warehouses" [value]="wh.warehouseId">
        Склад {{ wh.warehouseId }}({{ wh.street }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="accent" (click)="Transportate()">
    <span>Перемістити</span>
  </button>
</div>
