/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.accent-color {
  background-color: green;
  color: white;
}

.warn-color {
  background-color: red;
  color: white;
}

.subtitle {
  color: rgba(128, 128, 128, 0.5);
}