<mat-tab-group>
    <mat-tab label='Нові'>
        <app-productions-table [status]='Прийнято'></app-details-table>
    </mat-tab>
    <mat-tab label='Виробляються'>
        <app-productions-table [status]='Виготовляється'></app-details-table>
    </mat-tab>
    <mat-tab label='Доставляються'>
        <app-productions-table [status]='Доставляється'></app-details-table>
    </mat-tab>
    <mat-tab label='Завершені'>
        <app-productions-table [status]='Завершено'></app-details-table>
    </mat-tab>
</mat-tab-group>