<mat-tab-group>
    <mat-tab label='Нові'>
        <app-productions-table status='Прийнято'></app-productions-table>
    </mat-tab>
    <mat-tab label='Виробляються'>
        <app-productions-table status='Виготовляється'></app-productions-table>
    </mat-tab>
    <mat-tab label='Доставляються'>
        <app-productions-table status='Доставляється'></app-productions-table>
    </mat-tab>
    <mat-tab label='Завершені'>
        <app-productions-table status='Завершено'></app-productions-table>
    </mat-tab>
</mat-tab-group>
