<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата </th>
        <td mat-cell *matCellDef="let element"> {{element.orderDate | date:'dd.MM.yyyy HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Загальна сума </th>
        <td mat-cell *matCellDef="let element"> {{element.totalPrice}} грн. </td>
    </ng-container>

    <ng-container matColumnDef="manager">
        <th mat-header-cell *matHeaderCellDef> ID Менеджера </th>
        <td mat-cell *matCellDef="let element"> {{element.workerId}} </td>
    </ng-container>

    <ng-container matColumnDef="workersCount">
        <th mat-header-cell *matHeaderCellDef> Працівників на виробництві </th>
        <td mat-cell *matCellDef="let element"> {{getWorkersCount(element)}} </td>
    </ng-container>

    <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-flat-button color="primary" (click)="showDetails(element)">
                <mat-icon>info</mat-icon>
                <span>Деталі</span>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutAlign="space-evenly start">
                <button *ngIf="isNew(element)" mat-flat-button color="accent" (click)="startProduction(element)">
                    <span>Почати виробництво</span>
                </button>
                <div *ngIf="isInProduction(element)">
                    <button *ngIf="!isAttachedToProduction(element)" mat-flat-button color="accent"
                        (click)="attachToProduction(element)">
                        <span>Приєднатися</span>
                    </button>
                    <button *ngIf="isAttachedToProduction(element)" mat-flat-button color="accent"
                        (click)="finishProduction(element)">
                        <span>Завершити виробництво</span>
                    </button>
                </div>
                <button *ngIf="isInDelivery(element)" mat-flat-button color="accent" (click)="finishDelivery(element)">
                    <span>Доставити</span>
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>