<h1>Ласкаво просимо, {{this.getUserName()}}!</h1>
<br>
<p>Вітаємо на сайті мебельної фірми</p>
<p>Для роботи фірми на сайті існують такі ролі</p>
<ul>
  <li>Менеджер з продажу</li>
  <li>Менеджер з поставок</li>
  <li>Працівник складу</li>
  <li>Фахівець з виробництва</li>
  <li>Адмін</li>
</ul>
<p>Технології, які були використані для розробки:</p>
<ul>
  <li>Frontend: Angular 9</li>
  <li>Backend: ASP NET Core 3.1 Web API</li>
  <li>DB Access: Entity Framework Core, DBFirst</li>
</ul>
<p>(с) Студенти групи ПЗ-32 Лакуста Андрій та Лазорик Роман</p>
