mat-card {
    padding: 25px 20px;
}

mat-card-actions {
    margin : 0;
}

.total {
    font-size : 20px;
}

.space {
    height: 20px;
}

.space-horizontal {
    width: 30px;
}

mat-form-field {
    width : 200px;
}

.order-button {
    font-size: 20px;
    height: 50px !important;
}