<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <div fxLayout="column" fxLayoutAlign="center center">
        <a class="navbar-brand" style="padding-bottom: 0;" [routerLink]="['/']">FurnitureFirm</a>
        <span style="font-weight: 100; font-size: 15px;">{{this.getUserPost()}}</span>
      </div>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="getUserPost() === 'Менеджер з поставок'">
            <a class="nav-link text-dark" [routerLink]="['/details']">Каталог деталей</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="getUserPost() === 'Менеджер з поставок'">
            <a class="nav-link text-dark" [routerLink]="['details', 'basket']">
              <mat-icon>shopping_cart</mat-icon>
              <span *ngIf="this.getDetailBasketSize() > 0" style="color:blueviolet"> {{this.getDetailBasketSize()}}</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="getUserPost() === 'Менеджер з продажу'">
            <a class="nav-link text-dark" [routerLink]="['furniture', 'basket']">
              <mat-icon>shopping_cart</mat-icon>
              <span *ngIf="this.getFurnitureBasketSize() > 0" style="color:blueviolet"> {{this.getFurnitureBasketSize()}}</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="getUserPost() === 'Менеджер з поставок'">
            <a class="nav-link text-dark" [routerLink]="['detailOrders']">Список замовлень</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="getUserPost() === 'Працівник складу'">
            <a class="nav-link text-dark" [routerLink]="['warehouses']">Склади</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="getUserPost() === 'Менеджер з продажу'">
            <a class="nav-link text-dark" [routerLink]="['/furnitures']">Каталог меблів</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="getUserPost() === 'Менеджер з продажу'">
            <a class="nav-link text-dark" [routerLink]="['/orders']">Список замовлень</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="getUserPost() === 'Фахівець з виробництва'">
            <a class="nav-link text-dark" [routerLink]="['/warehouses-details']">Деталі на складах</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="getUserPost() === 'Фахівець з виробництва'">
            <a class="nav-link text-dark" [routerLink]="['/productions']">Виробництва</a>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="getUserPost() === 'Працівник складу'">
            <a class="nav-link text-dark" [routerLink]="['warehouses', 'comings']">Прибуття</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="getUserPost() === 'Працівник складу'">
            <a class="nav-link text-dark" [routerLink]="['warehouses', 'consumptions']">Розходи</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="getUserPost() === 'Адмін'">
            <a class="nav-link text-dark" [routerLink]="['workers']">Працівники</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!this.isLoggedIn()">
            <a class="nav-link text-dark" [routerLink]="['login']">
              <div fxLayout="row">
                <mat-icon style="margin-right: 5px;">exit_to_app</mat-icon>
                Вхід
              </div>
            </a>
          </li>
          <li class="nav-item" style="margin-left: 50px;" [routerLinkActive]="['link-active']"
            *ngIf="this.isLoggedIn()">
            <a class="nav-link text-dark" (click)="Logout()">
              <div fxLayout="row">
                Вихід
                <mat-icon style="margin-left: 5px;">exit_to_app</mat-icon>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>