<h2 fxLayout="row" fxLayoutAlign="center center">Конфігурація</h2>
<h5>{{furniture.name}}</h5>

<div>
    <div *ngIf="this.additionalDetails.length == 0">Немає додаткових деталей</div>
    <div *ngFor="let detail of additionalDetails" class="row" fxLayout="row" fxLayoutAlign="space-around center">
        <div>{{detail.name}}</div>
        <div>{{detail.price}} грн.</div>
        <button mat-icon-button (click)="showInfo(detail)">
            <mat-icon>info</mat-icon>
            <span>Опис</span>
        </button>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button (click)="removeDetail(detail)">
                <mat-icon>remove</mat-icon>
            </button>
            <span>{{this.getOrderedDetailCount(detail)}}</span>
            <button mat-icon-button (click)="addDetail(detail)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="space"></div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex="20">
        <mat-label>Кількість</mat-label>
        <input type="number" matInput placeholder="1" [(ngModel)]="this.orderedFurniture.count">
    </mat-form-field>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-evenly center">
        <span>Загальна ціна:</span>
        <span>{{this.getTotalPrice()}} грн.</span>
    </div>
    <button mat-flat-button color="accent" (click)="addToOrder()">
        <span>Додати в корзину</span>
    </button>
</div>